body {
    background-color: gray;
}


#wrap{
    position : relative ;
    width: 1000px;
    height: 550px;
    background-color: white;
    margin : auto;
}



#header{
    position: relative;
    max-width: 100%;

}

.header-nav{
    position: relative;
    height: 15%;
    background-color: white;
}

.nav-title{
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    display: inline-block;
    margin-top: 50px;
    margin-left:  10px;
    font-size: 35px;
    color: #345461;
}

.newtodo{
    float: right;
    display: block;
    background-color: #20adee;
    width: 200px;
    height: 50px;
    margin-right: 15px;
    margin-top: 40px;
    /* vertical-align: middle;  */ /* 인라인속성에서만 사용간능 */
    text-decoration: none;
    line-height: 50px; 
    /* div에서 수직정렬을 하기위해서는 line-height 속성을 주어야한다. */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

#container{
    position: relative;
    width: 100%;
    height: 85%;

}

#content{
    position: relative;
    max-height: 100%;
}


.articles 
{
    float: left;
    width: 100%;
    height: 100%;
}

.lists {
    width: 290px;
    font-size: 20px;
    float: left;
    margin-right: 10px;

}

.list{
    width: 290px;
    background-color: #cee5ef;
    float: left;
    margin-bottom: 10px;
}

.title{
    background-color: #345461;
    height: 60px;
}

#todo{
    margin-left: 10%;
}

.lists-title{
    margin-top: 13px;
    margin-left: 15px;
    color: white;
}

.list-title{
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 0px;
}


#footer{
    position: relative;

}